html
  head
  body
  h1 How much, on what day?
    div
      form(action="/")
        input(type="number", name="amount")
        select(name="symbol")
          each sym in rates
            option= sym
        button Show me the money!
  h2 This is how much money:
  h2= result
